
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutMasterPage.cshtml";
}

<center>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <div class="breadcrumb-contentnhy">
        <div class="container">
            <nav aria-label="breadcrumb">
                <h2 class="hny-title text-center">About Us</h2>
                <ol class="breadcrumb mb-0">
                    <li>
                        <a href="index.html">Home</a>
                        <span class="fa fa-angle-double-right"></span>
                    </li>
                    <li class="active">About</li>
                </ol>
            </nav>
        </div>
    </div>
    </div>
    </section>

    <section class="w3l-wecome-content-6">
        <!-- /content-6-section -->
        <div class="ab-content-6-mian py-5">
            <div class="container py-lg-5">
                <div class="welcome-grids row">
                    <div class="col-lg-6 mb-lg-0 mb-5">
                        <h3 class="hny-title">
                            About Our Shope<span>Store</span>
                        </h3>
                        <p class="my-4">
                            mmany descount are available 
                        </p>
                        <p class="mb-4">Online Shopping Websites.</p>
                        <div class="read">
                            <a href="#" class="read-more btn">Shop Now</a>
                        </div>
                    </div>
                    <div class="col-lg-6 welcome-image">
                        <img src="../Content/assets/images/2.jpg" class="img-fluid" alt="" />
                    </div>

                </div>

            </div>
        </div>
    </section>

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

</center>

