
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_LayoutMasterPage.cshtml";
}

<center>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />



    <section class="w3l-contacts-8">
        <div class="contacts-9 section-gap py-5">
            <div class="container py-lg-5">
                <div class="row top-map">
                    <div class="col-lg-6 partners">
                        <div class="cont-details">
                            <h3 class="hny-title mb-0">
                                Get in <span>touch</span></h5>
                                <p class="mb-5">We're ready to lead you into the future with Business Services</p>
                                <p class="margin-top">
                                    <span class="texthny">Call Us : </span> <a href="#">
                                        +(91)
                                        9998887776
                                    </a>
                                </p>
                                <p>
                                    <span class="texthny">Email : </span> <a href="#">
                                        eshoppingservices@gmail.com
                                    </a>
                                </p>
                                <p class="margin-top">
                                    Ahemadabad City, INDIA.
                                </p>
                        </div>
                        <div class="hours">
                            <h3 class="hny-title">
                                Working <span>Hours</span></h5>
                                <h6>Business Service:</h6>
                                <p> Monday to Friday 8.00 am - 6.00 pm</p>
                                <p> Saturday and Sunday - Closed</p>
                                <h6 class="margin-top">Customer support:</h6>
                                <p> Monday to Friday 8.00 am - 6.00 pm</p>
                                <p> Saturday 10.00 am - 4.00 pm</p>
                                <p> Sunday - Closed</p>
                        </div>
                    </div>
                    <div class="col-lg-6 map">
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="map-content-9 form-bg-img">
            <div class="layer section-gap py-5">
                <div class="container py-lg-5">
                    <div class="form">
                        <h3 class="hny-title two text-center">Fill out the form.</h3>
                        <form action="https://sendmail.w3layouts.com/submitForm" class="mt-md-5 mt-4" method="post">
                            <div class="input-grids">
                                <input type="text" name="w3lName" id="w3lName" placeholder="Name">
                                <input type="email" name="w3lSender" id="w3lSender" placeholder="Email" required="" />
                                <input type="subject" name="w3lSubject" id="w3lSubject" placeholder="Subject" required="">
                            </div>
                            <div class="input-textarea">
                                <textarea name="w3lMessage" id="w3lMessage" placeholder="Message" required=""></textarea>
                            </div>
                            <button type="submit" class="btn">Send</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</center>

