
@{
    ViewBag.Title = "Offer";
    Layout = "~/Views/Shared/_LayoutMasterPage.cshtml";
}

<center>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <section class="w3l-specification-6">
        <!-- /specification-6-->
        <div class="specification-6-mian py-5">
            <div class="container py-lg-5">
                <div class="row story-6-grids text-left">
                    <div class="col-lg-5 story-gd">
                        <img src="../Content/assets/images/left2.jpg" class="img-fluid" alt="/">
                    </div>
                    <div class="col-lg-7 story-gd pl-lg-4">
                        <h3 class="hny-title">What We <span>Offer</span></h3>
                        <p>
                            Online Shope Services
                        </p>

                        <div class="row story-info-content mt-md-5 mt-4">

                            <div class="col-md-6 story-info">
                                <h5> <a href="#">01. Visit Store</a></h5>
                                <p>
                                   
                                </p>


                            </div>
                            <div class="col-md-6 story-info">
                                <h5> <a href="#">02. Add To Cart</a></h5>
                                <p>
                                 
                                </p>
                            </div>
                            <div class="col-md-6 story-info">
                                <h5> <a href="#">03. Gift Cards</a></h5>
                                <p>
                                    
                                </p>
                            </div>
                            <div class="col-md-6 story-info">
                                <h5> <a href="#">04. Unique shop</a></h5>
                                <p>
                                  
                                </p>
                            </div>
                        </div>

                    </div>



                </div>
            </div>
        </div>
    </section>

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</center>

